.footer-row-element {
  margin-top: 10px;
}

.grey-text {
  color: #3e414e;
}

.twitter {
  color: #1da1f2;
}

.youtube {
  color: #ff0000;
}

.linkedin {
  color: #2867b2;
}

.tab-content {
  border-style: solid;
  border-color: #3e414e;
  border-radius: 8px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.tab-content:hover {
  background-color: grey;
}

.tab-content:active {
  background-color: #3e414e;
}

.selected-active {
  background-color: #3e414e;
}

.selected-active:hover {
  background-color: #3e414e;
}

.manipulated-content {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.text-secondary-color {
  color: #c98875;
}

.is-horizontal-center {
  justify-content: center;
}