.footer-row-element {
  margin-top: 10px;
}
.grey-text {
  color: $grey-dark;
}

.twitter {
  color: #1da1f2;
}

.youtube {
  color: #ff0000;
}

.linkedin {
  color: #2867b2;
}

.txt-rotate {
  color: $primary;
}
